.vscode/**
.vscode-test/**
src/**
out/**
.gitignore
.eslintrc.json
.eslintignore
**/*.map
**/*.ts
tsconfig.json
esbuild.config.js
**/.bin/**
**/test/**
**/tests/**
**/example/**
**/examples/**
**/docs/**
**/.github/**
**/*.md
!README.md
!LICENSE
